__pycache__/
.DS_Store
create_lammps_grains10.py
test_file.xyz
test_file_small.xyz
test_file_large.xyz
test_file_larger.xyz
can_you_make_111.xyz
new_unitcell_test.xyz
cut_num*
original*
out_*
restart
gulp
Unitcell_Fit*
tester*
lmp_*
in.npt
FePt_*
get_lammps_logs.py
main.py
main*
tests/planes*
surface_analysis_Script.py
grains_to_analys*
planes*
grain_plane_surface*
lammpsrun
lammps_grain*
vacuum_
grain_creation_plan.txt
7nm_grain_files
work_packages/*
work_packages
grain_modeller/to_be_deleted/*
grain_modeller/to_be_deleted/
grain_modeller/to_be_deleted
tests/rt12*
tests/test_log.*
tests/testing_surface.*
tests/to_be_deleted/*
tests/to_be_deleted/
tests/to_be_deleted
token
